<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html"; charset=UTF-8" http-equiv='content-Type">
    </head>    
      <body>
            <h1>Welcome to email</h1>
            <p> You have successfully signed up.</p>
      </body>
</html>